/* app css stylesheet */

body{
  width: 80%;
  margin: auto;
  text-align: center;
}

#game{
  margin: auto;
  width: 80%;
  text-align: center;
}
.column{
   float: left;
   width: 48px;
}

.rows{
    width: 48px;
    height: 48px;
    border: 2px solid;
    border-color: #eeeeee #999999 #999999 #eeeeee;
    background-color: #cccccc;
    line-height: 48px;
    vertical-align: middle;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; 
}

.revealed{
  background-color: #dddddd;
}

.one {
  color: #0000cd; 
}
.two {
  color: #228b22;  
}
.three {
  color: #cd333e; 
}
.four {
  color: #00008b;
}
.five {
  color: #8b0000;
}
.six {
  color: teal;
}
.seven {
  color: #7851a9;
}
.eight {
  color: black; 
}

.mine {
  color:black;
}

.flag{
  color:red;
}