/* app css stylesheet */

#desc{
  width:100%;
  clear: both;
  height:90px;
  color: #726252;
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
}

#desc h1{
  display:block;
  float: left;
  clear: right;
  font-size: 60px;
  font-weight: 900;
}

#desc span h1 {
  color: #FF0000;
  font-weight: 400 !important;
}

#desc p{
  float:left;
  padding-top: 54px;
  font-size: 20px;
  padding-left: 20px;
  vertical-align: bottom;
  font-weight: bolder;
}

.content{
  width: 600px;
  margin: 0 auto;
}

#bar{
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: -20px;
  color: #FFFFE6 ;
  /*background-color: #e5e5e5;*/
}

.gameStatus .btn-danger{
  background: #8f7a66;
  border-radius: 3px;
  border: 4px solid;
  border-color: #A59585 #726252 #726252 #A59585;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.game{
  width: 600px;
  height: 600px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  margin-top:90px;
  margin-bottom: 30px;
}

.gameBGContainer{
  width: 602px;
  height: 603px;
  text-align: center;
  margin-top: 87px;
  margin-left: 0px;
  margin-bottom:15px;
}

.gameBG{
  width:100%;
  height:100%;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #999999;
  border-bottom: 4px solid #999999;
}
.gameBG div {
  width:33.6%;
  height:200px;
  float:left;
}

.gameBG .botright{
  border-bottom: solid 3px gray;
  border-right: solid 3px gray;
}

.gameBG .right{
  border-right: solid 3px gray;
}

.pullup {
  margin-top:45px !important;
}

.pushup{
  margin-top: -45px !important;
}

.tweak{
  width:33.5% !important;
}

.gameBG .bot{
  width: 33%;
  border-bottom: solid 3px gray;
  margin-left:-1px;
}

.controls {
  display: block;
  border-radius: 3px;
  text-decoration: none;
  background: #bbada0;
  color: #FFFFE6;
  height: 45px;
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 40px;
  vertical-align: middle;
  display: block;
  text-align: center;
  margin-left: 4px;
}

.sudokuCtrl .controls.clicked{
  background: #8f7a66;
  border-radius: 3px;
  border: 4px solid;
  border-color: #A59585 #726252 #726252 #A59585;
}

.switchCtrl{
  width:100%;
  clear:both;
  padding-bottom: 20px;
}
.sudokuCtrl {
  float:right;
  margin:auto;
  width: 95%;
}

.flags.controls {
  width: 17%;
  float: left;
}

.flags span{
  color:red;
}

.switch {
  width: 17%;
  float:right;
  color: yellow ;
  clear:right;
}

.controls.numbers{
  width: 10%;
  float:left;
  color: yellow ;
  background: #bbada0;
  border:3px solid;
  border-color: #C9BDB3 #79716B #79716B #C9BDB3;
}

.column{
   float: left;
   width: 10.6%;
   height: 100%;
   margin-left: 3px;
}

.rows{
    width: 100%;
    height:10.6%;
    /*border: 2px solid;*/
    border-radius: 2px;
    /*border-color: #eeeeee;*/
    margin-bottom:3px;
    background-color: #cccccc;
    line-height: 60px;
    vertical-align: middle;
    font-family: 'Nunito', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; 
}

.revealed {
  background-color: #dddddd;
}

.flagged {
  background-color: #E1D4D4;
}

.one .sweeper {
  color: #0000cd; 
}
.two .sweeper {
  color: #228b22;  
}
.three .sweeper {
  color: #cd333e; 
}
.four .sweeper {
  color: #00008b;
}
.five .sweeper {
  color: #8b0000;
}
.six .sweeper {
  color: teal;
}
.seven .sweeper {
  color: #7851a9;
}
.eight .sweeper{
  color: black; 
}

.mine .sweeper {
  color:black;
}

.sweeper .flag{
  color:red;
}

.sudokuLight{
  color: #726252;
}


.sudokuDark{
  color: #726252;
}

}
#howto {
    color:#726252;
    padding:20px;
    padding-bottom:0px;
    margin:auto;
    margin-bottom:30px;
    background: #E6FFF3;
    border: 3px gray solid;
    border-radius:10px;
}


#howto p {
  text-align:justify;
  font-size: 1em;
  text-indent: 50px;
  color:black;
}

#howto ul {
  width: 95%;
  text-align:left;
}

#howto li{
  background-color: transparent;
  border: none;
}

#howto li p{
  text-indent: 0px;
  margin-top:5px;
  margin-left:90px;
}

#howto .restart-button-sml {
  padding-left:10px;
  padding-right:10px;
  background: #8f7a66;
  border-radius: 3px;
  border: 4px solid;
  border-color: #A59585 #726252 #726252 #A59585;
  color: #FFFFE6 ;
  text-align: center;
  float:left;
  margin-right: 5px;
}

#howto .controls-sml-flag {
  padding-left:10px;
  padding-right:10px;
  border-radius: 3px;
  background: #bbada0;
  border:3px solid;
  border-color: #C9BDB3 #79716B #79716B #C9BDB3;
  color: #FFFFE6;
  text-align: center;
  float:left;
  margin-right: 5px;
}

#howto .controls-sml-flag span{
  color: red;
}

#howto .controls-sml-star {
  padding-left:10px;
  padding-right:10px;
  border-radius: 3px;
  background: #bbada0;
  border:3px solid;
  border-color: #C9BDB3 #79716B #79716B #C9BDB3;
  color: #FFFFE6;
  text-align: center;
  float: left;
  margin-right: 5px;
  color: yellow ;
}

#howto .square {
  width:40px;
  height:30px;
  line-height: 30px;
  padding-left:5px;
  padding-right:5px;
  border-radius: 2px;
  margin-bottom:3px;
  background-color: #cccccc;
  text-align:center;
  vertical-align: middle;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  float: left;
  margin-right: 5px;
}

#howto .square.red{
    color: #cd333e; 
}

.footer{
  margin-top:20px;
  margin-bottom:30px;
  padding:10px;
  border-top:2px solid gray;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

/*
drop element
*/
.drop {
}

/*
drag element
*/
.drag {
    cursor: move;
}

.drag:hover {
  background: #8f7a66;
  border-radius: 3px;
  border: 4px solid;
  border-color: #A59585 #726252 #726252 #A59585;
}

.drag.hover {
  background: #8f7a66;
  border-radius: 3px;
  border: 4px solid;
  border-color: #A59585 #726252 #726252 #A59585;
}

/*
element being dragged
*/
.drag.dragging {
    opacity: 0.9;
}

/*
class added to all .drop elements while dragging
*/
.drop.dropable {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*
 * class added to all .drop elements when a .drag is hovering
 */
.drop.dropable.hover {
    background-color: gray;
}

