<link rel="stylesheet" href="view1/view1.css"/>
<div class = 'content'>
	<div id = 'desc'>
		<h1>sudo</h1>
		<span><h1>mine</h1></span>
		<p>
		<span class="glyphicon glyphicon-flag"></span>
		 minesweeper + sudoku 
		<span class="glyphicon glyphicon-star"></span></p>
	</div>

	<div id = "bar">

		<div class = 'gameStatus' ng-click = "newGame()">
			<div class = 'restart-button'>
				<h4 ng-show = 'game.sweeper'><span class="glyphicon glyphicon-flag"></span> <( {{game.status}} <) </h4>
				<h4 ng-show = '!game.sweeper'>(> {{game.status}} )> <span class="glyphicon glyphicon-star"></span></h4>
			</div>
		</div>

	</div>
		
	<div class = 'switchCtrl'>
		<div class = "flags controls" ng-click='switch()'>
			<h4>{{game.flags}} x <span class="glyphicon glyphicon-flag"></span></h4>
		</div>

		<div class = 'controls switch' ng-click='switch()'>
			<span ng-repeat = "life in game.lives" class="glyphicon glyphicon-star"></span>
		</div>
	</div>

	<div class = "sudokuCtrl">
		<div ng-show = '!game.sweeper'>
			<div class = 'controls numbers' 
			ng-repeat = "control in game.controls"
			ng-click = "getValue(control)"
			>
				<div>{{control}}</div>
			</div>
		</div>
	</div>

	<div id = "game" ng-class = 'game.pullup'>
		<div class = "column" ng-repeat = "column in game.board">
			<div class = 'rows'
			ng-class = "[cell.cellClass, cell.textClass]"
			ng-repeat = "cell in column" 
			sglclick="reveal(cell)" 
			ng-dblClick="doubleClick(cell)"
			rightclick = "rightClick(cell)">
				<div class = 'sudoku hack' ng-class = "cell.sudokuClass" ng-show = '!game.sweeper' >
					<div ng-show = '(cell.reveal && cell.sensor !== 0) || cell.sudokuGuess' class = 'hackreveal'>
						<div ng-show = 'cell.sudokuGuess'>{{cell.sudokuGuess}}</div>
						<div ng-show = '!cell.sudokuGuess'>{{cell.sudokuNum}}</div>
					</div>
				</div>
				<div class = 'sweeper' ng-show = 'game.sweeper'>

					<div ng-show = "cell.reveal || cell.flagged">
						{{cell.appearance}}
						<div ng-show = 'cell.mine && !cell.flagged'>
							<span class="glyphicon glyphicon-certificate"></span>
						</div>
					</div>
					<div ng-show = "cell.flagged" class = 'flag'><span class="glyphicon glyphicon-flag"></span></div>
				</div>
			</div>

		</div>
	</div>


	<div class = "gameBG" ng-show = "!game.sweeper">
		<div class = 'botright'>
		</div>
		<div class = 'botright tweak'>
		</div>
		<div class = 'bot'>
		</div>
		<div class = 'botright'>
		</div>
		<div class = 'botright tweak'>
		</div>
		<div class = 'bot'>
		</div>
		<div class = 'right'>
		</div>
		<div class = 'right tweak'>
		</div>
	</div>


